.text-with-shadow {
    text-shadow: 3px 3px 4px #666666;
}

.green-text-normal-size {
    font-family: "Baskerville Old Face", serif;
    color: #326363;
    font-size: 21px;
}

.category-label {
    font-family: "Baskerville Old Face", serif;
    color: #2D7363;
    font-size: 25px;
    font-weight: bold;
}

.book-label {
    font-family: "Baskerville Old Face", serif;
    color: #2D7363;
    font-size: 18px;
    font-weight: bold;
}

.top-sm-margin {
    margin-top: 20px;
}

.bottom-sm-margin {
    margin-bottom: 20px;
}

.top-lg-margin {
     margin-top: 40px;
 }

.bottom-super-lg-margin {
    margin-bottom: 100px;
}

h2 {
    font-family: "Baskerville Old Face", serif;
    color: #38917D;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
    text-shadow: 1px 1px 1px #666666;
    margin-top: 10px;
}

.main-wrapper {
    padding-top: 40px;
    padding-bottom: 25px;
    position: relative;
    min-height: 100%;
}

.has-error {
    color: red
}