<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">

    <persistence-unit name="BookMazePersistenceUnit">
        <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
        <class>com.kolyadko_polovtseva.book_maze.entity.Author</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.Book</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.Category</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.LibraryBook</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.PublishHouse</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.RegisterRecord</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.User</class>
        <class>com.kolyadko_polovtseva.book_maze.entity.UserRole</class>
        <properties>
            <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>
            <property name="hibernate.connection.username" value="b8d8819b8d7dc8"/>
            <property name="hibernate.connection.password" value="2170ab3f"/>
            <property name="hibernate.connection.url" value="jdbc:mysql://eu-cdbr-west-01.cleardb.com:3306/heroku_d55dcc403da9621?reconnect=true&amp;useUnicode=true&amp;characterEncoding=UTF-8"/>
            <property name="hibernate.archive.autodetection" value="class"/>
            <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
            <property name="hibernate.show_sql" value="true"/>
            <property name="hibernate.format_sql" value="true"/>
            <property name="hibernate.hbm2ddl.auto" value="create"/>
        </properties>
    </persistence-unit>
</persistence>